{% extends "base.html" %}
{% block content %}
<div class="login-form-container" style="text-align: center; padding-top: 60px;">
    <h3 class="login-form-title header-head" style="margin-top: 100px; font-size: 30px;">Форма Авторизация</h3>
    <form class="login-form" action="/login/" method="POST">
        {% if post_error %}
        <h4 style="color: red; padding: 10px">
            {% if post_error == 'USER_NOT_FOUND' %}
                Пользователь не найден
            {% endif %}
            {% if post_error == 'ERROR_ARGUMENTS' %}
                Введите все данные
            {% endif %}
        </h4>
        {% endif %}
        {% csrf_token %}
        <br><br>
        <input class="form-input" style="height: 50px; width: 250px; text-align: center; font-size: 15px;" placeholder="Телефон или почта"  name="login">
        <br><br>
        <input class="form-input" style="height: 50px; width: 250px; text-align: center; font-size: 15px;" placeholder="Пароль" name="password">
        <br><br>
        <button class="btn btn-outline-success" style="padding: 5px;">Авторизация</button>
        <br><br>
    </form>
    <br><br>
</div>
{% endblock %}